<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46478635609-4esjpi6gl5lee5piop634n8uc2154bd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46478635609-4esjpi6gl5lee5piop634n8uc2154bd1</string>
	<key>API_KEY</key>
	<string>AIzaSyDrp2EQpb7ZUCO-UxYqeB3_wN_Kjr9bT84</string>
	<key>GCM_SENDER_ID</key>
	<string>46478635609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.odKec</string>
	<key>PROJECT_ID</key>
	<string>odkec-3445e</string>
	<key>STORAGE_BUCKET</key>
	<string>odkec-3445e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46478635609:ios:0b0fda6dc3d6bbcb373748</string>
</dict>
</plist>